@import url("styling/navBar.css");
@import url("styling/SearchBar.css");
@import url("styling/Event.css");
@import url("styling/EventDetails.css");
@import url("styling/FavoritePage.css");
@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Dancing+Script:wght@400;500&family=Foldit:wght@500&family=Kanit:wght@300&family=Reem+Kufi+Fun&display=swap");

.App {
  text-align: center;
  background-color: #f9f5e3;
  font-family: "Kanit", sans-serif;
}

.description {
  font-family: "Kanit", sans-serif;
  font-style: italic;
}
